<!-- Sidebar -->
<aside id="sidebar" [ngClass]="sidebarResponsive ? 'sidebar-responsive' : ''">
  <div class="sidebar-title">
    <div class="sidebar-brand">
      <span class="material-icons-outlined">dashboard</span> PRT System
    </div>
    <span class="material-icons-outlined" (click)="toggleSidebar()">close</span>
  </div>
  <ul class="sidebar-list">
    <li class="sidebar-list-item">
      <a routerLink="/dashboard" routerLinkActive="active">
        <span class="material-icons-outlined">dashboard</span> Dashboard
      </a>
    </li>
    <li class="sidebar-list-item">
      <a routerLink="/projects" routerLinkActive="active">
        <span class="material-icons-outlined">category</span> Projects
      </a>
    </li>
    <li class="sidebar-list-item">
      <a routerLink="/resources" routerLinkActive="active">
        <span class="material-icons-outlined">groups</span> Resources
      </a>
    </li>
    <li class="sidebar-list-item">
      <a routerLink="/timesheets" routerLinkActive="active">
        <span class="material-icons-outlined">fact_check</span> Timesheets
      </a>
    </li>
    <li class="sidebar-list-item">
      <a routerLink="/reports" routerLinkActive="active">
        <span class="material-icons-outlined">poll</span> Reports
      </a>
    </li>
  </ul>
</aside>


<!-- End Sidebar -->
