<div class="main-content">
  <div class="main-container">
    <app-side-nav> </app-side-nav>
    <div class="main-container-content">
      <nav>
        <label for="navigationDropdown">Navigate to:</label>
        <select id="navigationDropdown" (change)="navigateTo($event)">
          <option value="">Select a page</option>
          <option value="/projects">Project List</option>
          <option value="/projects">Project po-association</option>
          <option value="/projects/1">Project Details</option>
        </select>
      </nav>
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>
